<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SpringDB</display-name>
	
	<!-- 
			지금까지는 요청을 받는 서블릿이 오직 하나였지만, 업무가 커지다 보면
			요청 서블릿을 여러개 만들 수 있다..
	-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- 
			어플리케이션에서 사용될 bean들 중 특히 모델 영역의 빈들은 여러 서블릿에서 공통적으로 사용할 로직이므로
			어떠한 서블릿에서도 접근할 수 있는 영역에서 관리되어야한다.. 스프링에서는 이 빈들을 application 내장객체의
			전신인 ServletContext에서 관리하게 하여, 서블릿간 공유가 가능하게 했다...
	 -->
	 <context-param>
	 	<param-name>contextConfigLocation</param-name>
	 	<param-value>/WEB-INF/root.xml</param-value>
	 </context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>		
	</listener>	
	<!-- 일반요청에 대한 서블릿 : 요청 결과를 html로 출력시 사용할 예정 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/app-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- RESTful 요청 처리 서블릿 :  비동기 요청을 처리하는 전담 컨트롤러 정의 -->
	<servlet>
		<servlet-name>restServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/rest-servlet.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>restServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>