<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="News">

	<resultMap type="News" id="newsMap">
		<id column="news_id" property="news_id"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="hit" property="hit"/>
		<collection column="news_id" property="commentsList" javaType="java.util.List" ofType="Comments" select="Comments.selectAllByNewsId"/>
	</resultMap>
	<!-- association을 이용하는 것이 아니라, 하나의 뉴스기사에 딸려있는 모든 자식들을 가져와 보자 (1:다) 관계 > collection을 이용해보자-->
	<select id="selectAll" resultMap="newsMap">
	
		select * from news order by news_id desc
	</select>
	
	<insert id="insert" parameterType="News">
		insert into news(news_id, title, writer, content) values(news_seq.nextval, #{title},#{writer},#{content})
	</insert>
	
	<select id="select" resultType="News" parameterType="int">
		select * from news where news_id=#{news_id}
	</select>
	
	<update id="update" parameterType="News">
		update news set title=#{title}, writer=#{writer}, content=#{content} where news_id=#{news_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from news where news_id=#{news_id}
	</delete>
</mapper>