<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.academy.shopping.model.domain.Admin" alias="Admin"/>
		<typeAlias type="com.academy.shopping.model.domain.TopCategory" alias="TopCategory"/>
		<typeAlias type="com.academy.shopping.model.domain.SubCategory" alias="SubCategory"/>
		<typeAlias type="com.academy.shopping.model.domain.Product" alias="Product"/>
		<typeAlias type="com.academy.shopping.model.domain.Member" alias="Member"/>
		<typeAlias type="com.academy.shopping.model.domain.Paymethod" alias="Paymethod"/>
		<typeAlias type="com.academy.shopping.model.domain.OrderSummary" alias="OrderSummary"/>
		<typeAlias type="com.academy.shopping.model.domain.OrderDetail" alias="OrderDetail"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/academy/shopping/mybatis/AdminMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/TopCategoryMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/SubCategoryMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/ProductMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/MemberMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/PaymethodMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/OrderSummaryMapper.xml" />
		<mapper resource="com/academy/shopping/mybatis/OrderDetailMapper.xml" />
	</mappers>
</configuration>