<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderSummary">
	<resultMap type="orderSummary" id="orderSummaryMap">
	<id column="ordersummary_id" property="ordersummary_id"/>
<!-- 	<result column="member_id" property="member_id"/>
	<result column="paymethod_id" property="paymethod_id"/> -->
	<result column="totalbuy" property="totalbuy"/>
	<result column="totalpay" property="totalpay"/>
	<result column="buydate" property="buydate"/>
	<association column="member_id" property="member" javaType="Member" select="Member.select" />
	<association column="paymethod_id" property="paymethod" javaType="Paymethod" select="Paymethod.select"/>
	<collection column="ordersummary_id" property="orderDetailList" javaType="java.util.List" ofType="OrderDetail" select="OrderDetail.selectByOrderSummaryId"/>
	</resultMap>
	
	<!-- 주문정보 입력 -->
	<insert id="insert" parameterType="OrderSummary">
		insert into ordersummary(ordersummary_id, member_id, paymethod_id, totalbuy, totalpay)
		values(seq_ordersummary.nextval, #{member.member_id},#{paymethod.paymethod_id},#{totalbuy}, #{totalpay})
		<!-- insert와 동시에 pk를 추출할 일이 있을때 -->
		<selectKey order="AFTER" keyColumn="ordersummary_id" resultType="int" keyProperty="ordersummary_id">
			<!-- mysql select last_insert_id() -->
			select seq_ordersummary.currval as ordersummary_id from dual
		</selectKey>
	</insert>
	
	<!-- 관리자를 위한 모든 주문 내역-->
	<select id="selectAll" resultMap="orderSummaryMap">
		select * from ordersummary
	</select>
	
	<!-- 고객을 위한 모든 주문 내역 -->
	<select id="selectByCustomerId" parameterType="Member" resultMap="orderSummaryMap">
		select * from ordersummary where customer_id=#{customer_id}
	</select>
	
	<select id="select" parameterType="int" resultMap="orderSummaryMap">
		select * from ordersummary where ordersummary_id =#{ordersummary_id}
	</select>
	
	<update id="update" parameterType="OrderSummary">
		update ordersummary set paymethod_id=#{paymethod_id}, totalbuy=#{totalbuy}, totalpay=#{totalpay}
		where ordersummary_id=#{ordersummary_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from ordersummary where ordersummary_id=#{ordersummary_id}
	</delete>
</mapper>