<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	
	<resultMap type="Product" id="productMap">
		<id column="product_id" property="product_id" />
		<result column="product_name" property="product_name" />
		<result column="brand" property="brand" />
		<result column="price" property="price" />
		<result column="discount" property="discount" />
		<result column="memo" property="memo" />
		<result column="detail" property="detail"/>
		<result column="product_img" property="product_img" />
		<association column="subcategory_id" property="subcategory" javaType="SubCategory" select="SubCategory.select"/>
	</resultMap>

	<!-- 모두가져오기 -->
 	<select id="selectAll" resultMap="productMap">
		select * from product
	</select>
	
	<!-- 선택한 상위 카테고리에 소속된 상품가져오기 -->
	<!-- <select id="selectByTopId" resultMap="productMap" parameterType="int">
		select * from
		product where subcategory_id in(
		select subcategory_id from topcategory 
		where topcategory_id=#{topcategory_id}
		)
	</select> -->
	
	<!-- 선택된 하위 카테고리에 소속된 상품가져오기 -->
	<select id="selectBySubId" parameterType="int" resultMap="productMap">
		select * from product where subcategory_id=#{subcategory_id}
	</select> 
	
	<insert id="insert" parameterType="Product">
		insert into product(product_id, product_name, brand, price, discount, memo, detail, product_img, subcategory_id)
		values(seq_product.nextval,#{product_name},#{brand},#{price},#{discount},#{memo},#{detail},#{product_img},#{subcategory.subcategory_id})
	</insert>
	
	
	<select id="select" parameterType="int" resultMap="productMap" >
		select * from product where product_id=#{product_id}
	</select>
	
	<delete id="delete" parameterType="Product">
		delete product where product_id=#{product_id}
	</delete>
	<!-- select product_id, subcategory_id, product_name from product where subcategory_id in(select subcategory_id from topcategory where topcategory_id=사용자가 선택한 최상위카테고리) --> 
</mapper>