<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubCategory">
	
	<resultMap type="SubCategory" id="subcategoryMap">
		<id column="subcategory_id" property="subcategory_id"/>
		<result column="category_name" property="category_name"/>
		<association column="topcategory_id" property="topcategory" javaType="TopCategory" select="TopCategory.select" />
	</resultMap>
	
	<insert id="insert" parameterType="SubCategory">
		insert into subcategory(subcategory_id, category_name, topcategory_id) 
		values(seq_subcategory.nextval, #{category_name}, #{topcategory.topcategory_id})
	</insert>
	
	<select id="selectAll" resultMap="subcategoryMap"> 
		select subcategory_id, category_name, topcategory_id from subcategory
	</select>
	
	<!-- 해당 상위 카테고리에 소속된 하위 카테고리들 -->
	<select id="selectByTopCategoryId" parameterType="int" resultMap="subcategoryMap"> 
		select subcategory_id, category_name, topcategory_id from subcategory where topcategory_id=#{topcategory_id}
	</select>
	
	<!-- 서브 카테고리 한건 가져오기 -->
	<select id="select" parameterType="int" resultMap="subcategoryMap">
		select * from subcategory where subcategory_id=#{subcategory_id}
	</select>
	
</mapper>