<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopCategory">
	
	<!-- 컬렉션을 위한 1:n 관계(부모 한건이 딸려있는 자식들을 같이 가져오기) 구현을 위한 ResultMap -->
	<resultMap type="topCategory" id="topcategoryMap">
	<id column="topcategory_id" property="topcategory_id"/>
	<result column="category_name" property="category_name" />
	<collection column="topcategory_id" property="subList" javaType="java.util.List" ofType="SubCategory" select="SubCategory.selectByTopCategoryId"></collection>
	</resultMap>
	
	<!-- 카테고리 등록 -->
	<insert id="insert" parameterType="TopCategory">
		insert into topcategory(topcategory_id, category_name) values(seq_topcategory.nextval, #{category_name})
	</insert>	
	
	<!--  카테고리 목록 -->
	<select id="selectAll" resultMap="topcategoryMap">
		select * from topcategory
	</select>
	
	<select id="select" parameterType="int" resultType="TopCategory">
		select * from topcategory where topcategory_id=#{topcategory_id}
	</select>
</mapper>